/* =============
    Base
============= */
figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

.content{
    padding: 32px 0;

    @include md{
        padding: 48px 0;    
    }

    @include lg{
        padding: 56px 0;
    }

    @include xl{
        padding: 64px 0;
    }
}